# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

.vs/

rsc/

x64/Release/Peacock.iobj

x64/Release/Peacock.ipdb

x64/Release/Peacock.log

x64/Release/Peacock.pdb

x64/Release/Peacock.res

x64/Release/Peacock.vcxproj.CopyComplete

x64/Release/Peacock.zip

x64/Release/vc142.pdb

x64/Release/vcpkg.applocal.log

classdiagram.drawio

Peacock.aps

Peacock.sln

Peacock.vcxproj

Peacock.vcxproj.filters

Peacock.vcxproj.user

Resource.aps

resource2.h

x64/Debug/

x64/Release/Peacock.tlog/
